/** CSS STYLE **/
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --clair: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf");
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  color: var(--dark);

  font-weight: 400;
  font-size: 16px;

  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4 {
  margin: 0;

  font-weight: 300;
  font-family: Neucha, sans-serif;

  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  z-index: 2;

  max-width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.background-clair {
  background-color: var(--clair);
}

.background-brown {
  background-color: var(--brown);
}

.background-white {
  background-color: var(--white);
}

.question-background::before {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

/* Header --------------------------------------- */

.header-title {
  margin-top: 7px;
  margin-bottom: 175px;

  color: var(--main);
}

.header-span {
  color: var(--dark);
}

.header-img {
  top: 55px;
  right: -270px;

  height: 525px;
}

.header-content {
  display: flex;
  gap: 30px;
}

.header-content-left,
.header-content-right {
  flex: 1 1 50%;
}

.video p {
  margin: 0;
  margin-bottom: -68px;
}

.menu-navigation-link p {
  margin: 0;

  transition: 0.5s;
}

.header-content-right p:last-of-type {
  margin-bottom: 38px;
}

/* --------------------------------------- */

/* Button --------------------------------------- */

.btn {
  display: inline-block;

  padding: 11px 24px 13px;

  color: var(--white);

  font-weight: 700;
  font-size: 16px;

  text-transform: uppercase;
  text-decoration: none;
}

.btn-orange {
  background-color: var(--main);
}

/* --------------------------------------- */

/* Video --------------------------------------- */

.video {
  text-align: center;
}

.video-container {
  padding-bottom: 0;
}

.video span {
  color: var(--main);
}

.video h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.video iframe {
  position: relative;

  width: 919px;

  height: 569px;

  vertical-align: middle;

  border: 0;

  transform: translateY(100px);

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

/* --------------------------------------- */

/* Menu --------------------------------------- */

.background-dark {
  background-color: var(--main-dark);
}

.menu-container {
  margin-top: 7px;
  padding-top: 200px;
  padding-bottom: 100px;
}

.menu-navigation h2 {
  font-size: 52px;
}

.menu-navigation h2 span {
  color: var(--main);
}

.menu-navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.menu-navigation-item {
  max-width: 350px;

  padding: 24px;

  background-color: var(--clair);

  cursor: pointer;
}

.menu-navigation-item-header {
  padding: 0;

  background-color: inherit;
}

.menu-navigation-link {
  display: block;

  color: inherit;

  text-decoration: none;
}

.menu-navigation-link h3 {
  margin-bottom: 9px;

  color: var(--main);

  transition: 0.5s;
}

.menu-navigation-item-num {
  display: block;

  margin-top: 36px;
  margin-bottom: 70px;

  color: var(--main-dark);

  font: 64px/1px Neucha, sans-serif;

  transition: 0.5s;
}

.menu-navigation-item:hover .menu-navigation-item-num {
  color: var(--main);
}

.menu-navigation-item:hover h3 {
  color: var(--main-dark);
}

.menu-navigation-item:hover p {
  color: var(--main);
}

/* --------------------------------------- */

/* ITEM --------------------------------------- */

.light-text-color {
  color: var(--white);
}

.light-uptitle-color {
  color: var(--translucent-white);
}

.dark-uptitle-color {
  color: var(--translucent-dark);
}

.item-header {
  display: flex;
  gap: 30px;

  margin-bottom: 91px;

  font-family: Neucha, sans-serif;
}

.inverse-row-header {
  flex-direction: row-reverse;
}

.item-header-image {
  z-index: 2;

  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.item-header-content-uptitle {
  margin: 0;
  margin-bottom: 5px;

  font-size: 24px;
}

.item-header-content-title {
  margin-bottom: 30px;
}

.item-header-content-text {
  margin: 0;

  font-size: 34px;
  line-height: 41px;
}

.item-content-title {
  display: block;

  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 10px;

  font-weight: 700;
  font-size: 14px;

  font-family: "Open Sans", sans-serif;

  line-height: 17px;

  text-transform: uppercase;
}

.dark-background {
  color: var(--white);

  background-color: var(--brown);
}

.light-background {
  color: var(--brown);

  background-color: var(--white);
}

.item-text {
  display: flex;
  gap: 30px;
}

.item-text-left,
.item-text-right {
  flex: 1 1 50%;
}

.item-text p:last-of-type {
  margin-bottom: 0;
}

/* --------------------------------------- */

/* ERRORS --------------------------------------- */

.errors-item-text-right p:last-of-type {
  margin-bottom: 30px;
}

/* --------------------------------------- */

/* FOOTER --------------------------------------- */

.footer-container {
  font-size: 14px;

  text-align: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 73px;
  padding: 42px 55px 39px;

  text-align: start;

  background-color: var(--main-dark);
}

.footer-content-title h2 {
  color: var(--white);

  font-size: 34px;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.input-label {
  display: block;

  margin-bottom: 9px;

  color: var(--white);

  font-size: 18px;
}

.input-field {
  display: flex;
  min-width: 485px;
}

.input {
  display: block;

  flex-grow: 2;

  height: 50px;

  padding: 15px;

  border: none;
  outline: none;
}

.input::placeholder {
  font-size: 12.1px;
}

.input-button {
  width: 62px;
  height: 50px;

  padding: 0;

  border: none;
  outline: none;
}

.input-button::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 24px;
  height: 24px;

  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-size: cover;

  transform: translate(-50%, -50%);

  content: "";
}

.input-form-text {
  margin: 0;

  color: var(--white);

  font-size: 12px;
}

.input-form-text a {
  color: inherit;

  text-decoration: underline;
}

.footer-copyright {
  font-size: 14px;
}

.footer-links a,
.footer-course {
  color: var(--blue);
}

/* --------------------------------------- */
