/** CSS STYLE **/
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --clair: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: Neucha;
  font-weight: 400;
  src: url('../fonts/Neucha-Regular.ttf');
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.ttf');
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
  color: var(--dark);
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
  font-weight: 300;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.background-clair {
  background-color: var(--clair);
}

.question-background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

/* Header ---------------------------------------*/

.header-title {
  margin-top: 7px;
  margin-bottom: 175px;
  color: var(--main);
}

.header-span {
  color: var(--dark);
}

.header-img {
  height: 525px;
  top: 55px;
  right: -270px;
}

.header-content {
  display: flex;
  gap: 30px;
}

.header-content-left,
.header-content-right {
  flex: 1 1 50%;
}

.header-content-right p:last-of-type {
  margin-bottom: 39px;
}

/*---------------------------------------*/

/* Button ---------------------------------------*/

.btn {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 13px 23px 15px 24px;
  color: var(--white);
}

.btn-orange {
  background-color: var(--main);
}

/*---------------------------------------*/

/* Video ---------------------------------------*/

.video-container {
  padding-bottom: 0;
}

.video {
  text-align: center;
}

.video span {
  color: var(--main);
}

.video h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.video p {
  margin: 0;
  margin-bottom: -68px;
}

.video iframe {
  position: relative;
  transform: translateY(100px);
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/*---------------------------------------*/

/* Distortions ---------------------------------------*/

.background-dark {
  background-color: var(--main-dark);
}

.menu-container {
  margin-top: 7px;
  padding-top: 200px;
  padding-bottom: 100px;
}

.menu-navigation h2 {
  font-size: 52px;
}

.menu-navigation h2 span {
  color: var(--main);
}

.menu-navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-navigation-item {
  padding: 24px;
  max-width: 350px;
  background-color: var(--clair);
}

.menu-navigation-item-header {
  padding: 0;
  background-color: inherit;
}

.menu-navigation-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.menu-navigation-link h3 {
  margin-bottom: 9px;
  color: var(--main);
  transition: 0.5s;
}

.menu-navigation-link p {
  margin: 0;
  transition: 0.5s;
}

.menu-navigation-item-num {
  display: block;
  margin-top: 36px;
  margin-bottom: 70px;
  font: 64px/1px Neucha, sans-serif;
  color: var(--main-dark);
  transition: 0.5s;
}

.menu-navigation-link:hover .menu-navigation-item-num{
  color: var(--main);
}

.menu-navigation-link:hover h3 {
  color: var(--main-dark);
}

.menu-navigation-link:hover p {
  color: var(--main);
}
